body {
    background: rgb(35, 35, 35);
    font-family: Roboto, sans-serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 60px;
    background-color: #1f2937;
    padding: 0px 120px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px 120px;
    align-items: center;
    background-color: white;
}

.introduction {
    display: flex;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding: 0px;
    margin-bottom: 60px;
}

.left {
    min-width: 300px;
}

.left h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.left p {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #f9faf8;
}

.header-pic {
    width: 400px;
    height: auto;
}