body {
    background: rgb(35, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    background-color: #1f2937;
}