body {
    background: rgb(35, 35, 35);
    font-family: Roboto, sans-serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 12px 120px;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #f9faf8;
}

.header-pic {
    width: 400px;
    height: auto;
}