* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(35, 35, 35);
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 800px;
}

header {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 60px;
    background-color: #1f2937;
    padding: 24px 120px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: white;
}

.introduction {
    display: flex;
    gap: 60px;
    margin: 60px 0px;
}

.left {
    min-width: 300px;
}

.left h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.left p {
    color: #e5e7eb;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 200px;
    /* border: 1px solid green; */
}

.container h1 {
    margin: 48px 0px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;
    color: #4e4e4e;
    margin-bottom: 90px;
    /* border: 1px solid blue; */
}

.highlight {
    width: 200px;
    /* border: 1px solid red; */
}

.highlight-pic {
    width: 196px;
    aspect-ratio: 1;
    object-fit: cover;
    border: 3px solid rgb(68, 68, 255);
    border-radius: 6%;
    margin-bottom: 12px;
}

.description {
    text-align: center;
}

.testimonial {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin: 90px 0px 0px;
    width: 630px;
    /* border: 1px solid red; */
}

.author {
    width: 630px;
    margin: 0;
    text-align: right;
    font-size: 16px;
    margin: 0px 0px 90px;
    /* border: 1px solid blue; */
}

footer {
    flex: 1;
    padding: 80px 120px;
    background-color: white;
}

.subscribe {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 120px;
}

.text {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

ul {
    display: flex;
    gap: 48px;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #f9faf8;
}

.header-pic {
    width: 300px;
    height: 100%;
}