/* stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.header {
    border: 1px dashed red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 16px 100px;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    width: 100px;
    height: auto;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}

.welcome,
.action-content,
.footnote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content,
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-pic {
    width: 250px;
    height: auto;
}
.pics {
    width: 75px;
    height: auto;
}